<form action="post">
  <div class="contact_form__group">
    {% include "../atom/form-elements/_input-text.html.twig" %}
    {% include "../atom/form-elements/_input-email.html.twig" %}
    {% include "../atom/form-elements/_input-tel.html.twig" %}
  </div>
  <div class="contact_form__inlineField">
    {% include "../atom/form-elements/_textarea.html.twig" %}
  </div>
  <div class="contact_form__submit">
    {% include "../atom/form-elements/_button.html.twig" %}
  </div>
</form>