<ul>
  <li>
    <a href="http://www.facebook.com" target="_blank" class="footer_social__fb"></a>
  </li>
  <li>
    <a href="http://www.linkedin.com" target="_blank" class="footer_social__linkedin"></a>
  </li>
  <li>
    <a href="http://www.twitter.com" target="_blank" class="footer_social__twitter"></a>
  </li>
  <li>
    <a href="mailto:someone@example.com" class="footer_social__email"></a>
  </li>
</ul>