.contact_form {
  background: url(../img/contact-form-bg.jpg) no-repeat top center;
  background-size: cover;
  padding: 75px 0;

  .contact_form__text {
    color: $color-white;
    text-align: center;
    h3 {
      font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      margin: 13px 0 0;
      text-align: center;
    }
    p {
      font-size: 22px;
      margin: 5px 0 15px;
    }
  }
  form {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  .contact_form__group {
    .contact_form__group__field {
      margin: 20px 0;
      @media screen and (min-width: 1200px) {
        width: calc((100% / 3) - 20px);
        display: inline-block;
        &:nth-child(2) {
          margin: 20px;
        }
      }
    }
  }
  .contact_form__submit {
    text-align: center;
    margin-top: 20px;
  }
}
