<div class="main_banner_content__services service1">
  <span>
      <img src="../img/service-icon-1.png" alt="service">
  </span>
  <span>Service Name</span>
</div>

<div class="main_banner_content__services service2">
  <span>
      <img src="./img/service-icon-2.png" alt="service">
  </span>
  <span>Service Name</span>
</div>

<div class="main_banner_content__services service3">
  <span>
      <img src="./img/service-icon-3.png" alt="service">
  </span>
  <span>Service Name</span>
</div>